#contenedorTitulo {
    text-align: center;
    color: #41f;
    border: 2px solid #f15;
    background-color: #fa9;
}

.NotaImportante {

    font-size: 22px;

}

h1,
h2,
h3 {
    color: #0ff;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 1em;
}

p span {
    color: #f15;
}

p span#textoImportante {
    color: #0af;
}

div .Review button ancla {
    font-size: 16px;
}

a{
    border: 2px solid #008;
    background-color: #00008d;
    color:#fff;
    border-radius: 25px;
    padding: 6px;
    margin: 15px;
}

a:link {
    font-size: 20px;
}

a:visited {
    color: #F00;
}

a:hover {
    background-color: #0f0
}

a:active {
    background-color: #41f;
    color: #FFF;
}

