<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layaut/plantilla :: head">
        <title>TODO supply a title</title>
    </head>
    <body>

        <header th:replace="layaut/plantilla :: header"/>

        <section th:replace="categoria/fragmentos :: botonesAgregar "><section/>
        <section th:replace="categoria/fragmentos :: editarCategoria "><section/>
        <section th:replace="categoria/fragmentos :: listadoCategorias "><section/>

        <footer th:replace="layout/plantilla  :: footer"><footer/>

    </body>
</html>